In [2]:
import pandas as pd
df_tsv = pd.read_csv('/content/2203A51692- Sheet1.tsv', sep='\t')
print(df_tsv)

   age  height
0   12     115
1   13     130
2   46     167
3   20     145
4   34     153

In [3]:
df_csv = pd.read_csv('/content/2203A51692- Sheet1.csv')
print(df_csv)

   age  height
0   15     115
1   18     130
2   35     167
3   23     145
4   34     153

In [4]:
df_xlsx = pd.read_excel("/content/2203A51692.xlsx")
print(df_xlsx)

   age  height
0   12     115
1   13     130
2   46     167
3   20     145
4   34     153

In [5]:
url = "https://github.com/2203a51692/aiml_task3"
df_url = pd.read_csv(url,'\t')
print(df_url)

<ipython-input-5-a9d31fb361e7>:2: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  df_url = pd.read_csv(url,'\t')

                                        <!DOCTYPE html>
0                                                 <html
1                                             lang="en"
2       data-color-mode="auto" data-light-theme="lig...
3       data-a11y-animated-images="system" data-a11y...
4                                                     >
...                                                 ...
1260                                             </div>
1261      <div id="js-global-screen-reader-notice" c...
1262      <div id="js-global-screen-reader-notice-as...
1263                                            </body>
1264                                            </html>

[1265 rows x 1 columns]